@import url('https://fonts.googleapis.com/css?family=Roboto');

#sidebar{
    width: 15%;
    height: 100%;
    height: inherit;
    background-color: #424B54;
    min-height: 100%;
    transition: all .5s linear;
    text-align: center;
}

#loginButton{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: #424B54;
    display: inline-block;
    line-height: 7vh;
    font-size: 1.7vh;
    width: 60%;
    height: 7vh;
    margin-top: 46.5vh;
    margin-bottom: 46.5vh;
    background-color: white;
    border-radius: 20px;
}

#loginBar{
    display: inline-block;
    line-height: 7vh;
    font-size: 1.7vh;
    width: auto;
    height: 35vh;
    margin-top: 32.5vh;
    margin-right: 32.5%;
    /*background-color: #424B54;*/
    float: right;
    transition: all .5s linear;
}

#loginMenu{
    text-align: center;
    background-color: #424B54;
}

html, body {
    height: 100vh;
    margin: 0;
}
