{% extends "sidebar.html" %}
{% block content %}
<!-- Title Block -->
{% block title %}
    <title>Home</title>
{% endblock %}
<!-- Username Block -->
{% block user %}{{staffUser.name}}{% endblock %}

<div id="search-box">
    <p id="title2">Timetable Search</p>
    <form method="post">
        <input class="input-box2" type="text" name="room" placeholder="Room Search">
        <select name="date" id="dropdown">
            <option class="dropdown-option" value="monday">Monday</option>
            <option class="dropdown-option" value="tuesday">Tuesday</option>
            <option class="dropdown-option" value="wednesday">Wednesday</option>
            <option class="dropdown-option" value="thursday">Thursday</option>
            <option class="dropdown-option" value="friday">Friday</option>
        </select>
        <select name="period" id="dropdown2">
            <option class="dropdown-option" value="1">Period 1</option>
            <option class="dropdown-option" value="2">Period 2</option>
            <option class="dropdown-option" value="3">Period 3</option>
            <option class="dropdown-option" value="4">Period 4</option>
            <option class="dropdown-option" value="5">Period 5</option>
            <option class="dropdown-option" value="6">Period 6</option>
            <option class="dropdown-option" value="7">Period 7</option>
        </select>
        <input class="input-button2" type="submit" name="button" value="Search">
    </form>
</div>
<div id="table-box">
    <div id="spacer3"></div>
    <p id="title2">Room Information - {{ roomDetails.room }}</p>
    <table>
        <tr>
            <th>ROOM</th>
            <th>PERIOD</th>
            <th>CLASS</th>
            <th>TEACHER</th>
        </tr>
        <tr>
            <th>{{roomDetails.room}}</th>
            <th>{{roomDetails.period}}</th>
            <th>{{roomDetails.class}}</th>
            <th>{{roomDetails.teacher}}</th>
    </table>
    <form method='post'>
        <input class="input-button2" name="button" type="submit" value="Create Change">
    </form>
</div>
{% endblock %}
